

.container-label {
  width: 100% !important;
  background-color: #b8a576;

  .label-col {
    overflow: hidden;
    color: #170800;


    img {
      width: 200px;
    }
  }

}


@media (max-width: 576px) {
  .container-label {
    width: 100% !important;
    background-color: #b8a576;

    .label-col {
      overflow: hidden;
      color: #170800;


      img {
        width: 85px;
      }
    }

  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container-label {
    width: 100% !important;
    background-color: #b8a576;

    .label-col {
      overflow: hidden;
      color: #170800;


      img {
        width: 100px;
      }
    }

  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .container-label {
    width: 100% !important;
    background-color: #b8a576;

    .label-col {
      overflow: hidden;
      color: #170800;


      img {
        width: 150px;
      }
    }

  }
}