

.autorization {
  top: 0;
  z-index: 5 !important;
  position: absolute;
  display: block;
  background-color: rgba(33, 33, 33, 0.58);

   .card {
     width: 370px;
     h5.card-header {
       background-color: #83A34A;

     }
     form {
            input {
              height: 35px !important;
              width: 270px !important;
            }
            input {
            }
         div {
           div {
             div {
               input {

               }
               label {
                 font-size: 0.8rem !important;
               }
             }
         }
           div {
             a {
               font-size: 0.8rem;
             }
           }
         }
         button {
           background-color: #83A34A;
           color: white;
           font-weight: bold;
           width: 260px;
         }
         p {
           font-size: 0.8rem;
           z-index: 8 !important;
         }
     }
   }
}