.top-container {
  background-color: #170800;
  height: 40px !important;
   .container {
     div {

     }
     div {
       nav {
         height: 40px !important;
         button {
           span.navbar-toggler-icon {
               color: white !important;
             }
         }
       }
     }
   }
}