.container {
  .div {
      .panel-item {
        justify-content: center;
        margin: 0 auto;

        .panel {
          width: 150px;

          .panel-heading {

          }
      }
    }


  }
}